.checkout {
    .transport {
        color: $light-green;
        padding: 0px 40px;
        .process-steps {
            display: flex;
            justify-content: space-between;
            position: relative; 
            .step {
                height: 20px;
                width: 20px;
                border: 1px solid $mid-green;
                border-radius: 50%;
                position: relative;
                background-color: $dark-green;          
                font-size: 1rem;
                z-index: 1;
                @extend %bg-cover;
                @extend %box-center;
                &.active {
                    border-color: $light-green;
                    &:after {
                        content: "";
                        height: 14px;
                        width: 14px;
                        display: block;
                        border-radius: 50%;
                        background-color: $light-green;
                    }
                }
                &.completed {
                    font-size: 1rem;
                    background-color: $light-green;
                    color: $dark-green;    
                }
            }
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $mid-green;
            }
        }
        input,select {
            background-color: $light-green;
            color: $mid-green;
            border-radius: 0;
            height: 56px;
            border: 0;
        }
        .invoice {
            a {
                color: $light-green;
                border: 1px solid $light-green;
                text-decoration:none;
                font-size: 20px;
                font-weight: bold;
                &.active {
                    color: $dark-green;
                    background-color: $light-green;
                }
            }
        }
    }
    .shopping_list {
        .shopping_item {
            .shopping_item_img {
                height: 80px;
                min-width: 80px;
                @extend %bg-cover;
            }
        }
    }
}

.success {
    .success_bg {
        @media (max-width: 768px) { 
                margin-bottom: 0px !important;
        }
    }
    .process_steps {
        display: flex;
        justify-content: space-between;
        position: relative; 
        .step {
            height: 20px;
            width: 20px;
            color: $light-green;
            border-radius: 50%;
            position: relative;
            background-color: $dark-green;
            font-size: 1rem;
            z-index: 1;
            @extend %box-center;
        }
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $dark-green;
        }
    }
}